<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.sojustbuild.plugin.SJBDialer"
    version="1.0.0">

    <name>SJBCordovaDialer</name>

  <description>
    SJB Dialer Plugin for Steroids.js
  </description>

  <!-- 
       moving to js-module mode to inject the js into each page.
       this is not ideal but steroid's handling of cordova and
       its plugins is very shaky
  -->
  <!--<asset src="www/SJBDialer.js" target="plugins/SJBDialer.js" />-->
	<js-module src="www/SJBDialer.js" name="SJBDialer">
	    <clobbers target="SJBDialer" />
	</js-module>


  <engines>
    <engine name="cordova" version=">=3.1.0" />
  </engines>

  <!-- android -->
  <!--<platform name="android">
    <config-file target="res/xml/config.xml" parent="plugins">
      <plugin name="Echo" value="com.appgyver.plugin.Echo"/>
    </config-file>

    <source-file src="src/android/com/appgyver/plugin/Echo.java"
      target-dir="src/com/appgyver/plugin" />
  </platform>-->

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*/plugins">
      <plugin name="SJBDialer" value="SJBDialer" onload="true" />
    </config-file>

    <config-file target="config.xml" parent="/widget">
      <feature name="SJBDialer">
        <param name="ios-package" value="SJBDialer"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/SJBDialer.h" />

    <source-file src="src/ios/SJBDialer.m" />

  </platform>
</plugin>
